:root {
  --color-primary: #427deb;
  --color-primary-dark: #0a44af;
  --color-white: #fff;
  --color-black: #000;
}
.divform {
  padding: 5rem 0rem;
  width: 60%;
  margin: 0 auto;
}
.form h1 {
  font-size: 3.7rem;
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 1.5rem;
}
.form {
  display: flex;
  flex-direction: column;
}
.form label {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.form input {
  margin-bottom: 1rem;
  height: 3.5rem;
  font-size: 2rem;
}
.form input:focus {
  background-color: #d2d4d6;
}
.form textarea {
  height: 10rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form div {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.form button {
  background-color: var(--color-primary);
  color: var(--color-white);
  outline: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}
.form button:hover {
  background-color: var(--color-primary-dark);
}
.form p {
  color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}
