:root {
  --color-primary: #427deb;
  --color-white: #fff;
  --color-black: #000;
}
.form {
  padding: 5rem 3rem;
  margin: 0 auto;
}
.form th {
  background-color: var(--color-primary);

  font-size: 2.5rem;
  color: var(--color-white);
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 3px;
}
.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0.5rem auto;
}
.page li {
  list-style-type: none;
  padding: 0.3rem 0.7rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-right: 0.2rem;
  color: var(--color-white);
}

.page li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem;
}
.search input {
  height: 4rem;
  width: 30%;
  border-style: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
  border: 3px solid var(--color-primary);
}
.search button {
  border-style: none;
  background-color: var(--color-primary);
  color: white;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
}
.found {
  display: flex;
}
